/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:  cornsilk;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.link{
  color: white;
  font-weight: bold;
}


header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 40px 0;
  text-align: center;
}

.project {
  margin-bottom: 40px;
}

.project img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
